<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>유저 정보</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="container">
      <h1><%= title %></h1>

      <main>
        <ul>
          <li><strong>이름:</strong> <%= user.name %></li>
          <li><strong>소개:</strong> <%= user.description %></li>
        </ul>

        <a href="/" class="btn btn-secondary">메인으로 돌아가기</a>
      </main>
    </div>
  </body>
</html>